*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #f2f2f2;
	font-family: Arial;
	font-size: 18px;
}
.contenedor{
	width: 400px;
	margin: 40px auto;
}
.contenedor .img{
	margin: 0px 5%; 
}
.formulario .formulario-input{
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 10px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 18px;
}

.formulario-input:focus{
	border-bottom: 2px solid #246eb9;
	animation-delay: 3s;
}
.formulario .btn{
	width: 100%;
	text-align: center;
	background: #246eb9;
	color: #fff
	border:none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-size: 18px;
}
.error_login ul {
	margin-top: 20px;
	border-radius: 3px;
	background: #ce1818;
	color: #fff;
	padding: 15px 16px;
	padding-left: 40px;
}
.formulario .btn:hover{
	background: #4357ad;
}
.enlace{
	padding-top:  10px;
	color: black;
}
.enlace a{
	text-decoration: all;
}

@media screen and (max-width: 500px){
	.contenedor{
	width: 70%;
	margin: 20% auto;
}
}